body{
    font-size: 12px;
}

.table{
     width:100%;
}
.table tr td{
    border:1px solid black;
    padding: 2px;
}

.table th{
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

.subtable tr td{
    border: none;
}

.subtable th{
    border: none;
}